.html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(180, 180, 180);
}

nav {
    background-color: antiquewhite;
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI',sans-serif 58;
    color: rgb(32, 29, 29);
}
.content h1 {
    font-size: 24px;
    color: black;
    font-family: Arial;
    font-style: bold;
}

.content p1 {
    font-size: 14px;
    color:black;
}

.content p2 {
    font-size: smaller;
    color: black;
}